h1 { font-size: 32px; color: #555; font-weight: 300; }
h2 { font-size: 26px; color: #555; font-weight: 300; }
h3 { font-size: 22px; margin-bottom: 8px; font-weight: normal; }
    h3 a, h3 a:hover { color: #333; }
.hero-container { background-color: #ddd; width: 100%; display: block; }
.content { max-width: 980px; margin: 0 auto; padding: 30px 0 50px; }
.platform { padding: 30px 0 40px; margin: 0; text-align: center; }
    .platform li { display: inline-block; }
        .platform li a { -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; -ms-animation-fill-mode: both; -o-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -ms-animation-duration: 1s; -o-animation-duration: 1s; animation-duration: 1s; position: relative; display: inline-block; border: solid 4px #FFF; background-color: #FFf; border-radius: 100%; padding: 55px; margin-right: 80px; }
            .platform li a i { display: inline-block; }
            .platform li a .name { position: absolute; top: 200px; text-align: center; left: 0; width: 100%; color: #555; font-size: 20px; background-color: transparent !important; }
            .platform li a:hover, .platform li a:hover .name { color: #00274f; background-color: #00274f; -webkit-transition: background-color 300ms linear; -moz-transition: background-color 300ms linear; -o-transition: background-color 300ms linear; -ms-transition: background-color 300ms linear; transition: background-color 300ms linear; }
        .platform li:last-child a { margin-right: 0; }

        .platform li a:hover .platform_android { background: url('images/platformicons.png') no-repeat 0 -112px; border: none; width: 62px; height: 62px; }
        .platform li a:hover .platform_ios { background: url('images/platformicons.png') no-repeat 0 -722px; border: none; width: 62px; height: 62px; }
        .platform li a:hover .platform_html { background: url('images/platformicons.png') no-repeat 0 -417px; border: none; width: 62px; height: 62px; }
        .platform li a:hover .platform_windows { background: url('images/platformicons.png') no-repeat 0 -1027px; border: none; width: 62px; height: 62px; }

.platform-name { margin-bottom: 3px; }
.platform-details { list-style: square; margin-left: 22px; }
    .platform-details li a { padding: 3px 0; display: inline-block; }

@-webkit-keyframes fadeInLeft {
    0% { opacity: 0; -webkit-transform: translateX(-30px); }
    100% { opacity: 1; -webkit-transform: translateX(0); }
}

@-moz-keyframes fadeInLeft {
    0% { opacity: 0; -moz-transform: translateX(-30px); }
    100% { opacity: 1; -moz-transform: translateX(0); }
}

@-o-keyframes fadeInLeft {
    0% { opacity: 0; -o-transform: translateX(-30px); }
    100% { opacity: 1; -o-transform: translateX(0); }
}

@keyframes fadeInLeft {
    0% { opacity: 0; transform: translateX(-30px); }
    100% { opacity: 1; transform: translateX(0); }
}

.fadeInLeft { -webkit-animation-name: fadeInLeft; -moz-animation-name: fadeInLeft; -o-animation-name: fadeInLeft; animation-name: fadeInLeft; }
