<div id="divContent">
    <div class="container-fluid content ptl">
        <div class="row">
            <div class="col-md-12 mbl">
                <h1 class="mbs">Additional Resources</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id nisi lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In arcu lectus, lacinia eget tincidunt sed, mattis eget lorem. Suspendisse laoreet eget lacus non suscipit. Cras pellentesque porta lorem nec tincidunt. Praesent ac vestibulum leo, quis convallis nunc. Suspendisse commodo condimentum odio euismod ultricies. Aenean at eros porttitor, molestie est vel, pellentesque lectus. Fusce iaculis, tortor vel feugiat sodales, ipsum felis vehicula elit, ut molestie urna leo eu justo.</p>
            </div>
        </div>
        <div class="row mtl mbl pbl">
            <div class="col-md-5">
                <img src="http://placehold.it/400x320" />
            </div>
            <div class="col-md-7">
                <a href="service-hooks"><h2 class="mtn normal-font">Service Hooks</h2></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id nisi lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In arcu lectus, lacinia eget tincidunt sed, mattis eget lorem. Suspendisse laoreet eget lacus non suscipit. Cras pellentesque porta lorem nec tincidunt.</p>
                <p>Suspendisse commodo condimentum odio euismod ultricies. Aenean at eros porttitor, molestie est vel, pellentesque lectus. Fusce iaculis, tortor vel feugiat sodales, ipsum felis vehicula elit, ut molestie urna leo eu justo.</p>
            </div>
        </div>
        <div class="row pbl ptl mtl mbl">
            <div class="col-md-7">
                <a href="cloud-code-logic"><h2 class="mtn normal-font">Cloud Code Logic</h2></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id nisi lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In arcu lectus, lacinia eget tincidunt sed, mattis eget lorem. Suspendisse laoreet eget lacus non suscipit. Cras pellentesque porta lorem nec tincidunt.</p>
                <p>Suspendisse commodo condimentum odio euismod ultricies. Aenean at eros porttitor, molestie est vel, pellentesque lectus. Fusce iaculis, tortor vel feugiat sodales, ipsum felis vehicula elit, ut molestie urna leo eu justo.</p>
            </div>
            <div class="col-md-5">
                <img src="http://placehold.it/400x320" />
            </div>
        </div>
        <div class="row pbl ptl mtl mbl">
            <div class="col-md-5">
                <img src="http://placehold.it/400x320" />
            </div>
            <div class="col-md-7">
                <a href="push-console"><h2 class="mtn normal-font">Push Console</h2></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id nisi lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In arcu lectus, lacinia eget tincidunt sed, mattis eget lorem. Suspendisse laoreet eget lacus non suscipit. Cras pellentesque porta lorem nec tincidunt.</p>
                <p>Suspendisse commodo condimentum odio euismod ultricies. Aenean at eros porttitor, molestie est vel, pellentesque lectus. Fusce iaculis, tortor vel feugiat sodales, ipsum felis vehicula elit, ut molestie urna leo eu justo.</p>
            </div>
        </div>
    </div>
</div>
