<footer id="divFooter" class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="content">
                <div class="col-xs-12 col-md-3">
                    <h4>Appacitive</h4>
                    <ul>
                        <li><a href="http://www.appacitive.com">About Us</a></li>
                        <li><a href="http://www.appacitive.com/contact">Contact Us</a></li>
                        <li><a href="http://www.appacitive.com/pricing">Pricing</a></li>
                        <li><a href="http://status.appacitive.com">Policy</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-3">
                    <h4>Products</h4>
                    <ul>
                        <li><a href="http://www.appacitive.com/features">Core</a></li>
                        <li><a href="http://www.appacitive.com/features/#mobility">Push</a></li>
                        <li><a href="http://www.appacitive.com/features/#more">Graph</a></li>
                        <!-- 
                        <li><a href="http://www.appacitive.com/features/#more">Cloud Logic</a></li> -->
                    </ul>
                </div>
                <div class="col-xs-12 col-md-3">
                    <h4>Resources</h4>
                    <ul>
                        <li><a href="http://support.appacitive.com">Support</a></li>
                        <li><a href="http://vimeo.com/appacitive/videos">Videos</a></li>
                        <li><a href="http://status.appacitive.com">Status</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-3">
                    <h4>SDKs</h4>
                    <ul>
                        <li><a href="http://devcenter.appacitive.com/ios">iOS</a></li>
                        <li><a href="http://devcenter.appacitive.com/android">Android</a></li>
                        <li><a href="http://devcenter.appacitive.com/windows">Windows</a></li>
                        <li><a href="http://devcenter.appacitive.com/javascript">JavaScript</a></li>
                        <!--
                        <li><a href="http://devcenter.appacitive.com/ios">iOS</a><span class="mls mrs">|</span><a href="http://devcenter.appacitive.com/ios/downloads/">Download <span class="glyphicon glyphicon-download-alt"></span></a></li>
                        <li><a href="http://devcenter.appacitive.com/android">Android</a><span class="mls mrs">|</span><a href="http://devcenter.appacitive.com/android/downloads/">Download <span class="glyphicon glyphicon-download-alt"></span></a></li>
                        <li><a href="http://devcenter.appacitive.com/windows">Windows</a><span class="mls mrs">|</span><a href="http://devcenter.appacitive.com/windows/downloads/">Download <span class="glyphicon glyphicon-download-alt"></span></a></li>
                        <li><a href="http://devcenter.appacitive.com/javascript">JavaScript</a><span class="mls mrs">|</span><a href="http://devcenter.appacitive.com/javascript/downloads/">Download <span class="glyphicon glyphicon-download-alt"></span></a></li>
                        -->
                        <!--<li><a href="http://devcenter.appacitive.com/nodejs">NodeJS</a><span class="mls mrs">|</span><a href="http://devcenter.appacitive.com/nodejs/downloads">Download <span class="glyphicon glyphicon-download-alt"></span></a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>