<div id="divContent">
    <div class="container-fluid content ptl">
        <div class="row">
            <div class="col-md-12 mbl">
                <h1 class="mbs">SDK Downloads</h1>
                <p>Integrate appacitive platform in your app in no time with the help of SDKs. For most of the popular platform we have developed SDKs and best part is they are open source. You can contribute to the project by reporting bug, improving the SDK by suggestions or even by writing your own SDK. We believe in community development.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="man download core-item-container">
                    <li>
                        <div class="core-item">
                            <span class="core-item-ios"></span>
                            <h3><a href="/ios">iOS</a></h3>
                            <a href="/ios/downloads">SDK <i class="glyphicon glyphicon-download-alt"></i></a>
                            <a href="">Blank Project <i class="glyphicon glyphicon-download-alt"></i></a>
                            <a href="">API Reference</a>
                            <a href="">Report a Bug</a>
                            <a href="">Fork me on GitHub</a>
                        </div>
                    </li>
                    <li>
                        <div class="core-item">
                            <span class="core-item-android"></span>
                            <h3><a href="android">Android</a></h3>
                            <a href="/android/downloads">SDK <i class="glyphicon glyphicon-download-alt"></i></a>
                            <a href="">Blank Project <i class="glyphicon glyphicon-download-alt"></i></a>
                            <a href="">API Reference</a>
                            <a href="">Report a Bug</a>
                            <a href="">Fork me on GitHub</a>
                        </div>
                    </li>
                    <li>
                        <div class="core-item">
                            <span class="core-item-windows"></span>
                            <h3><a href="/windows">Windows</a></h3>
                            <a href="/windows/downloads">SDK <i class="glyphicon glyphicon-download-alt"></i></a>
                            <a href="">Blank Project <i class="glyphicon glyphicon-download-alt"></i></a>
                            <a href="">API Reference</a>
                            <a href="">Report a Bug</a>
                            <a href="">Fork me on GitHub</a>
                        </div>
                    </li>
                    <li>
                        <div class="core-item">
                            <span class="core-item-javascript"></span>
                            <h3><a href="/javascript">JavaScript</a></h3>
                            <a href="/javascript/downloads">SDK <i class="glyphicon glyphicon-download-alt"></i></a>
                            <a href="">Blank Project <i class="glyphicon glyphicon-download-alt"></i></a>
                            <a href="">API Reference</a>
                            <a href="">Report a Bug</a>
                            <a href="">Fork me on GitHub</a>
                        </div>
                    </li>
                    <li>
                        <div class="core-item">
                            <span class="core-item-python"></span>
                            <h3><a href="/python">Python</a></h3>
                            <a href="/python/downloads">SDK <i class="glyphicon glyphicon-download-alt"></i></a>
                            <a href="">Blank Project <i class="glyphicon glyphicon-download-alt"></i></a>
                            <a href="">API Reference</a>
                            <a href="">Report a Bug</a>
                            <a href="">Fork me on GitHub</a>
                        </div>
                    </li>
                    <li>
                        <div class="core-item">
                            <span class="core-item-java"></span>
                            <h3><a href="/android">Java</a></h3>
                            <a href="/android/downloads">SDK <i class="glyphicon glyphicon-download-alt"></i></a>
                            <a href="">Blank Project <i class="glyphicon glyphicon-download-alt"></i></a>
                            <a href="">API Reference</a>
                            <a href="">Report a Bug</a>
                            <a href="">Fork me on GitHub</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
