<div id="divContent">
    <div class="hero-container">
        <div class="content">
            <h1 class="text-center">Welcome to the Appacitive <span class="no-wrap">Developer Center</span></h1>
            <h2 class="mtl text-center">What platform are you building on?</h2>
            <div class="container-fluid">
                <div class="row platform">
                    <div class="col-xs-12 col-md-3">
                        <a class="fadeInLeft" href="/ios"><i class="platform_ios"></i><span class="name">iOS</span></a>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <a class="fadeInLeft" href="/android"><i class="platform_android"></i><span class="name">Android</span></a>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <a class="fadeInLeft" href="/windows"><i class="platform_windows"></i><span class="name">Windows</span></a>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <a class="fadeInLeft" href="/javascript"><i class="platform_html"></i><span class="name">JavaScript</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Documentation</h3>
                        <p>Our comprehensive API documentation is available at <a target="_blank" href="http://help.appacitive.com/">http://help.appacitive.com/</a>. You may want to checkout out our <a href="http://support.appacitive.com" target="_blank">frequently asked questions</a>.</p>
                    </div>
                </div>
                <div class="row ptl mtl">
                    <div class="col-md-12">
                        <h3>API Status</h3>
                        <p>You can check APIs or Appacitive Servers status page at <a target="_blank" href="http://status.appacitive.com/">http://status.appacitive.com/</a> for any updates about downtime or connectivity issues.</p>
                    </div>
                </div>
                <div class="row ptl mtl">
                    <div class="col-md-12">
                        <h3>Download SDKs</h3>
                        <p>Integrate appacitive platform in your app in no time with the help of SDKs. For most of the popular platform we have developed SDKs and best part is they are open source. Do check out out <a href="downloads.html" class="no-wrap">SDK download</a> page to download SDK and ready to use blank projects.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Getting Help</h3>
                        <p>If you've read the <a target="_blank" href="http://help.appacitive.com">documentation</a> and are having some trouble, please feel free to get in touch with us - we would love to help.</p>
                    </div>
                </div>
                <div class="row ptl mtl">
                    <div class="col-md-12">
                        <h3>File a Ticket</h3>
                        <p>If you want to file a support request, feature request, or suggestion, our <a target="_blank" href="http://support.appacitive.com">support site</a> is for you. In addition to private support requests, we also have articles, public discussions and FAQs located there.</p>
                    </div>
                </div>
                <div class="row ptl mtl">
                    <div class="col-md-12">
                        <h3>Email Us</h3>
                        <p>Lastly, feel free to email <a href="mailto:support@appacitive.com">support@appacitive.com</a> - this will create a ticket at our support site and alert us.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>