<div id="divContent">
    <div class="container-fluid content ptl">
        <div class="row">
            <div class="col-md-12 mbl">
                <h1 class="mbs">Cloud Code Logic</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id nisi lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In arcu lectus, lacinia eget tincidunt sed, mattis eget lorem. Suspendisse laoreet eget lacus non suscipit. Cras pellentesque porta lorem nec tincidunt. Praesent ac vestibulum leo, quis convallis nunc. Suspendisse commodo condimentum odio euismod ultricies. Aenean at eros porttitor, molestie est vel, pellentesque lectus. Fusce iaculis, tortor vel feugiat sodales, ipsum felis vehicula elit, ut molestie urna leo eu justo.</p>
            </div>
        </div>
    </div>
</div>
